:root {
  --primary-font: 'Abril Fatface', cursive;
  --primary-colour: #ffffffe8;
  --secondary-colour: rgba(41, 41, 41, 0.873);
  --hover-color: #91ff00;
  --secondary-font: 'IBM Plex Mono';
  --display: none;
}
@media (min-width: 800px) {
  .togglemenu {
    display: none;
  }
  .margin10 {
    margin-top: 10%;
  }
  .aboutp {
    padding-left: 2%;
    padding-right: 40%;
  }
}
.menu-background {
  background-color: black;
  color: var(--hover-color);
  font-family: fantasy;
}
.menu_button:hover {
  background-color: #333;
  color: var(--primary-color);
}
@media (max-width: 800px) {
  #main-menu {
    display: none;
  }
  .aboutp {
    padding-right: 0%;
  }
  .title {
    display: none;
  }
  .margin10 {
    margin-top: 15%;
  }
  .menu {
    display: var(--display);
    justify-content: center;
    flex-direction: column;
  }
}

.togglemenu {
  width: 25%;
  justify-content: end;
}
body {
  background-image: '/images/bgpic.jpg';
  background-size: cover;
  resize: both;
  color: var(--primary-colour);
}
header {
  position: fixed;
  top: 0px;
  left: 28px;
  right: 28px;
  z-index: 11;
  max-height: 55px;
}
a:link {
  color: var(--primary-colour);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: var(--primary-colour);
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: yellow;
  background-color: transparent;
}
a:hover {
  color: var(--hover-color);
}
.app {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}
@media only screen and (max-width: 1200px) {
  .work {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .work {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 740px) {
  .work {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 900px) {
  .app {
    margin-top: 15%;
    flex-direction: column-reverse;
    align-items: center;
  }
  .picturesproject {
    display: none;
  }
  .projectp {
    font-size: 20px;
  }
  .contactme1 {
    font-size: 30px;
  }
  h1 {
    font-size: 70px;
  }
  .homeinfo {
    margin: 0;
    width: 80%;
  }
  .picbox {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  .homeinfo {
    margin: 0;
    width: 50%;
  }
  .contactme1 {
    font-size: 50px;
  }
  h1 {
    font-size: 100px;
  }
}

@media only screen and (max-width: 720px) {
  .smallerfont {
    font-size: 40px;
  }
}
.margin10 {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
}
.blur {
  backdrop-filter: blur(15px);
}
.border {
  border: 4px double var(--primary-colour);
  border-radius: 1em;
}
.center {
  text-align: center;
}
h1,
h2 {
  font-family: var(--primary-font);
  animation-duration: 2s;
  animation-name: slidein;
}
.btn:hover {
  background-color: var(--hover-color);
}
input::placeholder {
  color: gray;
}
label {
  margin-bottom: 4px;
  color: #000;
}

label:nth-of-type(2) {
  margin-top: 12px;
}
label,
input,
button,
textarea {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.inputs,
textarea {
  text-align: left;
  margin-top: 30px;
}
input,
textarea {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
button {
  color: white;
  margin-top: 20px;
  background: var(--hover-color);
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}
.message-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: var(--hover-color);
  letter-spacing: 1px;
}
.middle {
  display: flex;
  margin-top: 5%;
  justify-content: center;
}
.label {
  color: var(--hover-color);
  display: flex;
  padding-left: 2%;
}
form {
  width: 70%;
  height: 350px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: var(--secondary-colour);
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}
.margin1 {
  margin: 1em;
}

hr {
  background-color: var(--primary-colour);
  opacity: 0.5;
}
.pimg {
  width: 100%;
}
.contactme1 {
  font-family: var(--secondary-font);
  margin-top: 50px;
}
.workpic {
  width: 100%;
}
p {
  font-size: 25px;
  font-family: var(--secondary-font);
}
.title {
  align-self: center;
  gap: 10px;
}
header [class*='wrap-header'] nav[class*='main-navigation'] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
}
a {
  padding-right: 20px;
}
ul {
  display: block;
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
nav {
  margin: 0;
  border: 0;
  font: inherit;
}
.main-navigation {
  height: 80px;
  align-self: center;
}
#main-menu {
  align-self: center;
}
header
  [class*='wrap-header']
  nav[class*='main-navigation']
  [class*='title']
  a
  + span {
  font-family: 'Neue Montreal', sans-serif;
  color: #f5eee6;
  text-transform: uppercase;
}
h6,
[class*='h6'] {
  font-size: 1rem;
}
#header {
  opacity: 1;
}
span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
header [class*='wrap-header'] nav[class*='main-navigation'] #main-menu ul li {
  display: inline-block;
  margin-left: 0.5rem;
  position: relative;
}
[class*='h6'] {
  font-weight: 500;
  line-height: 1;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 50px;
    width: 100%;
  }
}
.homepic,
.workcard {
  width: 100%;
  border-radius: 1em;
  border: 4px double var(--primary-colour);
}
.work {
  display: grid;
}
.bio {
  margin-top: 2em;
}
.homeinfo {
  backdrop-filter: blur(5px);
  margin-left: 2%;
  padding-left: 2%;
  border-radius: 1em;
  border: 4px double var(--primary-colour);
}
.picbox {
  width: 300px;
  margin-right: 5%;
}
h3 {
  font-size: 70px;
  font-family: var(--primary-font);
}
.pc {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: var(--primary-colour);
}
.cicon {
  animation: wiggle 2s linear infinite;
}
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
